.App {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link {
  text-decoration: inherit;
  color: inherit;
  flex-grow: 1;
}

#header-container {
  align-items: center;
  justify-content: center;
}

.container {
  padding: 10%;
}

.secondary {
  color: #ff007f;
}

.green {
  color: #6fd336;
}
