.App {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link {
  text-decoration: inherit;
  color: inherit;
  flex-grow: 1;
}

#header-container {
  align-items: center;
  justify-content: center;
}

.container {
  padding: 8em;
}

.secondary {
  color: #ff007f;
}

#navbar {
  background-color: #ff007f;
}

.premium-gallery {
  height: 150px;
  width: 125px;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #fcaa27 0%, #d6fc2c 25%, #e3c710 50%, #d6fc2c 75%, #fcaa27 100%);
  border-image-slice: 1;
}

.standard-gallery {
  height: 150px;
  width: 125px;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, silver 0%, #eaeaea 25%, #b2b2b2 50%, #eaeaea 75%, silver 100%);
  border-image-slice: 1;
}

.rec-carousel-item {
  box-shadow: none !important;
}

.rec.rec-arrow:hover {
  background-color: #ff007f !important;
}

.rec.rec-arrow:focus {
  background-color: #ff007f !important;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(41, 41, 41);
  padding: 16px 32px;
  border-radius: 20px;
}

#drawer-contents {
  color: white;
  background-color: rgb(41, 41, 41);
  padding: 16px 32px;
}
.green {
  color: #6fd336;
}

.cart-item {
  margin: 8px;
}
