.App {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link {
  text-decoration: inherit;
  color: inherit;
  flex-grow: 1;
}

.container {
  padding: 10%;
}

.modal-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.premium-text {
  color: gold;
}

.standard-text {
  color: silver;
}

.green {
  color: #6fd336;
}